.wrapperList {
    padding: 25px 0 0 0;
}
.titleList {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*.list {
    width: 800px;
}*/
.wrapperListItem {
    height: calc(100vh - 100px);
    overflow: hidden auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}